:root {
  --primary-color: #212B45; /* 主题颜色 */
  --background-color:#1E2329; /* 背景颜色 */
  --text-color:#747C86; /* 文字颜色 */
  --page-width: 1100px; /* 设定全局内容宽度 */
}

body {
  font-size: 14px;
  background-color: rgb(8, 2, 17);
}

* {
  /* 禁止长按屏幕复制内容*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;

  box-sizing: border-box;
}


