body, h1, h2, h3, h4, ul, li {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
  -webkit-user-drag: none; /* 禁止拖动 */
}

/* 引入字体 */
@font-face {
  font-family: "AlimamaShuHeiTi";
  src: url(@/assets/font/AlimamaShuHeiTi-Bold.woff);
  font-weight: 400;
}
@font-face {
  font-family: "AlibabaPuHuiTi";
  src: url(@/assets/font/Alibaba_PuHuiTi_2.0_55_Regular_55_Regular.ttf);
  font-weight: 400;
}
